<div class="row my-5">
  <div class="col-12">
    <div class="container" id="about">
      <p>I am a backend/fullstack developer with a background in translation and education management. Recently graduated from Le Wagon intensive Web Development bootcamp and built several projects, including the final project: a web app that allows people that are moving apartments to check if their things will fit in the new place.</p>
    </div>
  </div>
</div>
