// Specific CSS for your home-page

a {
  text-decoration: none;
  color: white;
  font-family: 'Atkinson Hyperlegible', "Helvetica", "sans-serif";

  &:visited {
    color: white;
  }
}

#about p {
  padding: 0;
  text-align: justify;
}

#about {
 width: 50vw;
}

.main-container {
  margin: 24px 24px;
}

@media (min-width: 100px) and (max-width: 575px) {
  #about {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  #about {
    width: 100%;
  }
}
