// Specific CSS for your home-page

a {
  text-decoration: none;
  color: white;
  font-family: 'Atkinson Hyperlegible', "Helvetica", "sans-serif";
}

#about p {
  padding: 0;
}

#about {
 width: 50vw;
}
