// Specific CSS for your home-page

a {
  text-decoration: none;
  color: white;
  font-family: 'Atkinson Hyperlegible', "Helvetica", "sans-serif";

  &:visited {
    color: white;
  }
  &:hover {
    color: rgba(255, 255, 255, 0.534);
  }
}

#about p {
  padding: 0;
  text-align: justify;
  opacity: .9;
}

#about {
 width: 50vw;
}

.main-container {
  margin: 24px 116px;
}

@media (min-width: 100px) and (max-width: 575px) {
  #about {
    width: 100%;
  }
  .main-container {
    margin: 24px 8px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  #about {
    width: 100%;
  }
  .main-container {
    margin: 24px 8px;
  }
}
