  <!-- Banner Section -->
<%= partial 'partials/banner' %>
<div class="main-container">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Socials Section -->
  <%= partial 'partials/social' %>
</div>
